<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container">
      <div class="row ">
        <div class="col-8">
            <a class="nav-link" routerLink = "home">Página inicial</a>
        </div>
        <div class="col-4">
            <a class="nav-link" aria-current="page" href="#">Contato</a>
          </div>
        </div>
        
        <div class="row justify-content-evenly">
            <div class="col-6">
            <a class="nav-link" routerLink = "cliente">Cadastro</a>
          </div>
            <div class="col-6">
            <a class="nav-link" href="#">login</a>
          </div>
        </div>
      </div>
      
  </nav>
